.contact {
  border: 2px rgb(255, 0, 0) solid;
  width: 30%;
  overflow: hidden;
  min-width: 50%;
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 80vh;

    .contact-inputs {
      border: 2px rgb(0, 0, 0) solid;

      display: flex;
      flex-direction: column;
      justify-content: space-around;
      min-height: 40vh;
    }
  }
}

@media only screen and (max-width: 600px) {
  .contact {
    min-width: 100%;
    form {
      min-height: 60vh;
      .contact-inputs {
        min-height: 20vh;
        input {
          margin-bottom: 2%;
          border :1px;
        }
      }
    }
  }
}
