* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-image: url("../img/bg.jpg");
}

.hamburger {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}

.hamburger div {
  width: 4rem;
  height: 0.3rem;
  background-color: black;
  -webkit-transition: 0.5s ease-in;
}

.hamburger:hover div:nth-child(1) {
  transform: rotateZ(57deg) translate(19px, 16px);
}
.hamburger:hover div:nth-child(2) {
  opacity: 0;
}
.hamburger:hover div:nth-child(3) {
  transform: rotateZ(-51deg) translate(21px, -19px);
}
/* ................ hamburger 1 ............... */

.hamburger1 {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}
.hamburger1 div {
  width: 4rem;
  height: 0.3rem;
  background-color: black;
  -webkit-transition: 0.5s ease-in;
}

.hamburger1:hover div:nth-child(1) {
  transform: rotateZ(-33deg) translate(-24px, 4px);
  width: 2rem;
}

.hamburger1:hover div:nth-child(3) {
  transform: rotateZ(33deg) translate(-24px, -6px);

  width: 2rem;
}
/* .................. hamburger 2 .................. */

.hamburger2 {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  transform: rotate(180deg);
}
.hamburger2 div {
  width: 4rem;
  height: 0.3rem;
  background-color: black;
  -webkit-transition: 0.5s ease-in;
}

.hamburger2:hover div:nth-child(1) {
  transform: rotateZ(-33deg) translate(-24px, 4px);
  width: 2rem;
}

.hamburger2:hover div:nth-child(3) {
  transform: rotateZ(33deg) translate(-24px, -6px);

  width: 2rem;
}
/* ....................... hamburger 3 .................. */

.hamburger3 {
  width: 5rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.hamburger3 div {
  width: 4rem;
  height: 0.3rem;
  background-color: black;
  transition: 0.5s ease-in;
}

.hamburger3:hover div:nth-child(1) {
  transform: rotateZ(-53deg) translate(-31px, 24px);
}

.hamburger3:hover div:nth-child(2) {
  border: 1px black solid;
  border-radius: 50%;
  background-color: transparent;
  width: 5rem;
  height: 6rem;
  opacity: 1;
}

.hamburger3:hover div:nth-child(3) {
  transform: rotateZ(57deg) translate(-30px, -17px);
}
/* ................... hamburger4 .................. */
.hamburger4 {
  width: 5rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.hamburger4 div {
  width: 4rem;
  height: 0.3rem;
  background-color: black;
  transition: 0.5s ease-in;
}
.hamburger4:hover div:nth-child(1) {
  transform: rotate(60deg) translate(28px, 0px);
}
.hamburger4:hover div:nth-child(2) {
  transform: rotate(117deg) translate(6px, 14px);
}
/* ................ hamburger5 ................. */
.hamburger5 {
  width: 5rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.hamburger5 div {
  width: 4rem;
  height: 0.3rem;
  background-color: black;
  transition: 0.5s ease-in;
}
.hamburger5 div:nth-child(1) {
  display: none;
}
.hamburger5:hover div:nth-child(1) {
  /* display: none; */
  display: block;
  transform: rotate(180deg) translate(0px, -21px);
}
.hamburger5:hover div:nth-child(2) {
  transform: rotate(180deg) translate(0px, -22px);
}
.hamburger5:hover div:nth-child(3) {
  transform: rotate(90deg) translate(-9px, 13px);
}
.hamburger5:hover div:nth-child(4) {
  transform: rotate(90deg) translate(-29px, -12px);
}

/* ................... hamburger6 ................. */

.hamburger6 {
    width: 5rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
  }
  .hamburger6 div {
    width: 4rem;
    height: 0.3rem;
    background-color: black;
    transition: 0.5s ease-in;
  }
.hamburger6:hover div{
    transform:rotate(360deg) ;
}