* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main div{
background-color: burlywood;
color: black;

text-align: center;
padding:30px;
border-radius: 10px;
}
.main{
    display: grid;
    border: 2px red solid;
    width: 80%;
    margin: 50px auto;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: repeat(3,100px);
    gap: 10px 4px;
}
.main div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    grid-row: 1/4;
    
}

.main div:nth-child(4){
    grid-column: 3/4;
}
