// @mixin flex {
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
// }
// @mixin center {
//   margin: 0 auto;
// }
// @mixin reset {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }
// // this is map
 $map-fonts: (
   s: 16px,
   m: 20px,
   l: 30px
 );
 // this is functions
 @function font($size) {
   @if map-has-key($map-fonts, $size) {
     @return map-get($map-fonts, $size);
   } @else {
     @error "#{$size} this is not allowed, try is buddy #{map-keys($map-fonts)}";
   }
 }
// // this is mixin
  @mixin ma-font($size) {
   @if map-has-key($map-fonts, $size) {
     font-size: map-get($map-fonts, $size);
   } @else {
     @error " #{$size} this is not allowed, try this bro #{map-keys($map-fonts)}";
   }
 }


